*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(#ca6be3, #e2bbee);
    font-family: 'Montserrat', sans-serif;
}
header{
    text-align: center;
    background-color: #ca6be3;   
}
main{
    nav{
        padding: 10px;
        margin: auto;
        position: sticky;
        top: 10px;
        .menu{
            background-color: #ca6be3;
            list-style: none;
            text-align: center;
            li{
                display: inline-block;
                a{
                    padding: 20px;
                    color: white;
                    text-decoration: none;
                    display: inline-block;
                    &:hover{
                        font-weight: bold;
                        color: #ca6be3;
                        background-color: white;
                        
                    }
                }
            }
        }
    }
    h2{ 
        text-align: center;
        a{
            text-decoration: none;
        }
    }
    section{
        line-height: 1.5;
        height: auto;
        h2{
            text-align: center;
        }
        .contenedor{
            
            width: auto;
            height: auto;
            text-align: center;
            margin: 20px auto;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 2fr 2fr 2fr;
            gap: 20px;
        }
    }
    .cuadros{
        width: auto;
        height: auto;
        text-align: center;
        margin: 20px auto;
    }
    .form{
        text-align: center;
        width: 500px;
        margin: 0 auto;
    }
}
footer{
    text-align: center;
    background-color: #ca6be3;
    a{
        text-decoration: none;
    }
}